<html>
<head>
    <title>React App Demo</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <!-- Don't use this in production: -->
    <!-- vite?  build too? -->
</head>

<body>

<div id="root"></div>
<script type="text/babel">

    //const items = <%- cars %>;
    //const items = <%- JSON.stringify(cars) %>;
    const items = JSON.parse(<%- JSON.stringify(cars) %>);


    const ListItems = (props) => {
        console.log("props");
        console.log(props.items);
      const listItems = props.items && props.items.map((item) =>  (
        <li key={item.model} onClick={props.clickHandler}>
            {item.model}
        </li>
      ));
      return  <ul> {listItems}</ul>;
    };

    const Detail = (props) => {
        return (
            <div>
            <h3>Car Details</h3>
            { props.item &&
              <form>
                <b>Model</b>: <input type="text" name="model" value={props.item.model || ""} onChange={props.changeHandler} /><br/>
                <b>Make</b>: <input type="text" name="make" value={props.item.make ||  ""} onChange={props.changeHandler} /><br/>
                <b>Year</b>: <input type="text" name="year" value={props.item.year || ""} onChange={props.changeHandler} /><br/>
                <b>Color</b>: <input type="text" name="color" value={props.item.color || ""} onChange={props.changeHandler} /><br/>
                <b>Mileage</b>: <input type="text" name="mileage" value={props.item.mileage || ""} onChange={props.changeHandler} /><br/>
                <button type="button" onClick={props.clearHandler}>Clear</button>
                <button type="button" onClick={props.saveHandler}>Save</button> 
                <button type="button" onClick={props.deleteHandler}>Delete</button> 
              </form>
            }
            </div>
        )
    };

    const App = () => {

        const [selectedItem, setSelectedItem] = React.useState();
       // const [originalItem, setOriginalItem] = React.useState();
        const [items, setItems] = React.useState([]);

    React.useEffect(() => {
      // fetch data
      const fetchData = async()=> {
        fetch("/api/cars").then(res => res.json())
          .then((json) => {
          setItems(json);
          console.log("Items after update:", items);
          //const data = await getData();
          //setSelectedItem(json); 
      })
    }
      fetchData()
    }, []);
  


        const itemClicked = (e) => {
            console.log('item clicked');
            console.log(e.target.innerText);
            let found = items.find(item => { return item.model == e.target.innerText});
            console.log("found")
            console.log(found)
            setSelectedItem(found);
            //setOriginalItem({ ...found });
        };

        const itemChanged = (e) => {
            let field = e.target.name;
            let newItem = { ...selectedItem };
            newItem[field] = e.target.value;
            setSelectedItem(newItem);
            console.log("item changed new item");
            console.log(newItem);
            //setItems(items.push(newItem));
            //setItems([...items, newItem]);
            const updatedItems = items.map(item => item.model === newItem.model ? newItem : item);
            console.log("updated Items");
            console.log(updatedItems);
            setItems(updatedItems);
            console.log("Items after updateditems");
            console.log(items);
           
            console.log("new item:");
            console.log(newItem);
        };

        const clearItem = () => {
        //    setSelectedItem({ ...originalItem });
        // i misunderstood...  clear means clears the text fields...
        setSelectedItem({  });
        };

        const saveItem = () => {
          if (!selectedItem.model) {
            return;
          }

          const itemToSave = { ...selectedItem };
          delete itemToSave._id;

          fetch("/api/cars/add", {
            method: "POST",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(selectedItem)
          })
          .then(res => res.json())
          .then((data) => {

            if (!selectedItem._id) {
              selectedItem._id = data._id;
              //let updatedItem= { ...selectedItem, _id: data._id };
              setSelectedItem(selectedItem);

              let newItems = [...items, selectedItem];
              //newItems.push(selectedItem)
              setItems(newItems); 
              // console.log("prevItems");
              // console.log(data);
              // setSelectedItem(data);
              //
              // console.log("newItem");
              // console.log(data);
              //let newItem = { ...selectedItem, _id: data._id };
              //
            }
          })
          .catch(err => console.log('Error saving item:', err));
        };

        
        const deleteItem = () => {
          const id = selectedItem._id;
          console.log(`Deleting car with id: /api/cars/delete/${id}`);
          if (!id) {
            alert("No car selected to delete!");
            return;
          }

          //delete item from DB
          fetch(`/api/cars/delete/${id}`, { method: "DELETE" })
          .then(res => res.json())
          .then((data) => {
            //remove item from UI list
            // const newItems = items.filter((item) => {
            //   return item._id !== id;
            // });
            //setItems(newItems);
            setItems(items.filter(item => item._id !== id));
            //clear form
            setSelectedItem({});
          })
          .catch(err => alert("Failed to delete"));
        }
      

      return (
      <div>
        <h2>IT122 JavaScript + React Project</h2>

        <ListItems items={items} clickHandler={itemClicked} />
        {/* new components */}
        <hr />
        <Detail 
          item={selectedItem} 
          changeHandler={itemChanged} 
          clearHandler={clearItem}
          saveHandler={saveItem}
          deleteHandler={deleteItem}
          />
       </div>
        );
    };

    ReactDOM.render(<App />, document.getElementById('root'));
</script>
</body>
</html>