<html>
<head>
    <title>React App Demo</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <!-- Don't use this in production: -->
    <!-- vite?  build too? -->
</head>

<body>

<div id="root"></div>
<script type="text/babel">

    //const items = <%- cars %>;
    //const items = <%- JSON.stringify(cars) %>;
    const items = JSON.parse(<%- JSON.stringify(cars) %>);


    const ListItems = (props) => {
        console.log("props");
        console.log(props.items);
      const listItems = props.items && props.items.map((item) =>  (
        <li key={item.model} onClick={props.clickHandler}>
            {item.model}
        </li>
      ));
      return  <ul> {listItems}</ul>;
    };

    const Detail = (props) => {
        return (
            <div>
            <h3>Car Details</h3>
            { props.item &&
              <form>
                <b>Model</b>: <input type="text" name="model" value={props.item.model || ""} onChange={props.changeHandler} /><br/>
                <b>Make</b>: <input type="text" name="make" value={props.item.make ||  ""} onChange={props.changeHandler} /><br/>
                <b>Year</b>: <input type="text" name="year" value={props.item.year || ""} onChange={props.changeHandler} /><br/>
                <b>Color</b>: <input type="text" name="color" value={props.item.color || ""} onChange={props.changeHandler} /><br/>
                <button type="button" onClick={props.clearHandler}>Clear</button>
                <button type="button" onClick={props.saveHandler}>Save</button> 
                <button type="button" onClick={props.deleteHandler}>Delete</button> 
              </form>
            }
            </div>
        )
    };

    const App = () => {

        const [selectedItem, setSelectedItem] = React.useState();
       // const [originalItem, setOriginalItem] = React.useState();
        const [items, setItems] = React.useState([]);

    React.useEffect(() => {
      // fetch data
      const fetchData = async()=> {
        fetch("/api/cars").then(res => res.json())
          .then((json) => {
          setItems(json);
          //const data = await getData();
          //setSelectedItem(json); 
      })
    }
      fetchData()
    }, []);
  


        const itemClicked = (e) => {
            console.log('item clicked');
            console.log(e.target.innerText);
            let found = items.find(item => { return item.model == e.target.innerText});
            console.log("found")
            console.log(found)
            setSelectedItem(found);
            //setOriginalItem({ ...found });
        };

        const itemChanged = (e) => {
            let field = e.target.name;
            let newItem = { ...selectedItem };
            newItem[field] = e.target.value;
            setSelectedItem(newItem);
            console.log("item changed new item");
            console.log(newItem);
            //setItems(items.push(newItem));
            //setItems([...items, newItem]);
            const updatedItems = items.map(item => item.model === newItem.model ? newItem : item);
            console.log("updated Items");
            console.log(updatedItems);
            setItems(updatedItems);
            console.log("Items after updateditems");
            console.log(items);
           
            console.log("new item:");
            console.log(newItem);
        };

        const clearItem = () => {
        //    setSelectedItem({ ...originalItem });
        // i misunderstood...  clear means clears the text fields...
        setSelectedItem({  });
        };

        const saveItem = () => {
          if (!selectedItem.title) {
            return;
          }
          fetch("/api/add", {
            method: "POST",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(selectedItem)
          })
          .then(res => res.json())
          .then((data) => {
            //if (!selectedItem._id) {
              //selectedItem._id = data._id;
              setSelectedItem(data);
              //let newItem = [...items, data];
              console.log("newItem");
              console.log(data);
              //let newItem = { ...selectedItem, _id: data._id };
              //newItem.push(selectedItem);
              //setSelectedItem(newItem);
            })
          }
      

      return (
      <div>
        <h2>IT122 JavaScript + React Project</h2>

        <ListItems items={items} clickHandler={itemClicked} />
        {/* new components */}
        <hr />
        <Detail 
          item={selectedItem} 
          changeHandler={itemChanged} 
          clearHandler={clearItem}
          saveHandler={saveItem}
          />
       </div>
        );
    };

    ReactDOM.render(<App />, document.getElementById('root'));
</script>
</body>
</html>